.passcode-gate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure it's on top */
}

.passcode-form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  text-align: center;
  max-width: 350px;
  width: 85%;
}

.passcode-form h2 {
  color: #333;
  margin-bottom: 1rem;
  border-bottom: none; /* Override App.css h2 style */
  padding-bottom: 0;
}

.passcode-form p {
  color: #555;
  margin-bottom: 1.5rem;
}

.passcode-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.passcode-form input.error-input {
  border-color: red;
}

.passcode-form .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.passcode-form button {
  background-color: #f0a04b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.passcode-form button:hover {
  background-color: #e57373;
}

/* Responsive Design for Small Screens */
@media (max-width: 480px) {
  .passcode-form {
    padding: 1.5rem;
  }

  .passcode-form h2 {
    font-size: 1.5rem;
  }
}
